django
dj-database-url
djangorestframework
pillow
psycopg2-binary
django-cors-headers
djangorestframework_simplejwt
WeasyPrint
drf-api-logger
gunicorn
python-slugify
xhtml2pdf
pdfkit
wkhtmltopdf-pack==0.12.3.0