

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">

<div class="activation__wrapper" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="activation__container" style="background-color: rgb(255, 255, 255); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); border-radius: 3px; width: 420px; height: auto; font-family: 'Open Sans'; text-align: center;">
        <div class="activation__header" style="width: 100%; height: 60px; padding: 10px 0;"><img class="activation__logo" src="https://karmer.aybu.edu.tr/assets/images/aybu-karmer/karmer.jpg" style="width: 50px;" width="50px"></div>
        <div class="activation__subject" style="height: 40px; text-align: center; font-size: 15px; font-weight: 600;">Ankara Yıldırım Beyazıt Üniversitesi Kariyer Merkezi</div>
        <div class="activation__arrow" style="position: relative; background: transparent;"></div>
        <div class="activation__message" style="background-color: rgb(248, 248, 248); height: 60px; line-height: 25px; padding: 30px 10px 10px; font-size: 15px;">
            <div> Sayın, <span class="activation__user" style="font-weight: 600; font-size: 18px;">kullanıcımız</span>
                <!--<Username>-->


                <br>Hesabınızı aktif etmek için aşağıdaki linke tıklamanız gerekmektedir.
            </div>


        </div>


        <div class="activation__link" style="background-color: rgb(255, 255, 255); height: 100px; font-size: 15px; line-height: 25px; padding: 20px 10px;">
            <div>
                Aktivasyon için lütfen tıklayınız.
            </div>
            <a href="{{ link }}" class="activation__btn" style="border-radius: 3px; color: rgb(255, 255, 255); font-size: 15px; background: rgb(21, 142, 255); padding: 10px 20px; text-decoration: none; width: 200px; margin: 10px auto 0; cursor: pointer;">Giriş</a>
        </div>


        <div class="activation__footer" style="font-size: 13px; line-height: 20px; height: 50px; padding: 10px 0;">
            Aybu Kariyer Merkezi Platformu

            <br>
        </div>
    </div>
</div>